<div id="questions" class="shadow">
  <p id="title">Preguntas frecuentes</p>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title><p>¿Lorem ipsum dolor sit amet?</p></mat-panel-title>
      </mat-expansion-panel-header>
      <p class="text-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a justo
        nec tortor tempus molestie. Orci varius natoque penatibus et magnis dis
        parturient montes, nascetur ridiculus mus.
      </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title><p>¿Lorem ipsum dolor sit amet?</p></mat-panel-title>
      </mat-expansion-panel-header>
      <p class="text-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a justo
        nec tortor tempus molestie. Orci varius natoque penatibus et magnis dis
        parturient montes, nascetur ridiculus mus.
      </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title><p>¿Lorem ipsum dolor sit amet?</p></mat-panel-title>
      </mat-expansion-panel-header>
      <p class="text-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a justo
        nec tortor tempus molestie. Orci varius natoque penatibus et magnis dis
        parturient montes, nascetur ridiculus mus.
      </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title><p>¿Lorem ipsum dolor sit amet?</p></mat-panel-title>
      </mat-expansion-panel-header>
      <p class="text-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a justo
        nec tortor tempus molestie. Orci varius natoque penatibus et magnis dis
        parturient montes, nascetur ridiculus mus.
      </p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
