p {
  margin: 0;
}

#footer {
  margin-left: 70px;
  background-color: #fff;
  height: 50px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#text-footer {
  font-size: 0.7em;
}

#sub-menu-footer {
  background-color: #d8d8d8;
  height: 100%;
  width: 120px;
  padding: 3px 30px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#button {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid transparent;
  border-bottom: 12px solid #000;
  margin-bottom: 5px;
}

::ng-deep {
  .mat-menu-content:not(:empty) {
    background: #d8d8d8;
  }
}

button {
  color: white;
}

@media (max-width: 600px) {
  #footer {
    margin-left: 10px;
    height: 20%;
    align-items: flex-start;
  }

  #text-footer {
    font-size: 0.9em;
    height: 100%;
    padding-top: 10px;
  }

  #sub-menu-footer {
    height: 100%;
    width: 100%;
  }

  #sub-menu-footer {
    align-items: flex-start;
  }

  #button {
    margin-bottom: 0px;
    margin-top: 20px;
  }
}
