#footer {
  margin-left: 70px;
  background-color: #fff;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#text-footer {
  font-size: 0.7em;
}

#sub-menu-footer {
  background-color: #d8d8d8;
  padding: 3px 70px;
}
