#comment {
  background-color: #fff;
  height: 280px;
  overflow-y: auto;
}

#comment::-webkit-scrollbar {
  width: 6px;
  height: 1px;
}

#comment::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

ul,
li {
  margin: 0 0;
  padding: 0;
}

ul {
  width: 100%;
}

li {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 0.3fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  align-items: center;
  margin-top: 10px;
  padding: 0 15px;

  #container-photo-profile {
    grid-area: 2 / 1 / 3 / 2;
  }
  #p-title {
    grid-area: 1 / 1 / 2 / 3;
    margin: 0 15px;
  }
  #p-comment {
    grid-area: 2 / 2 / 3 / 3;
  }
  #container-like-dislike {
    grid-area: 2 / 3 / 3 / 4;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

p {
  margin: 0;
  font-size: 0.8em;
}

#photo-profile {
  width: 80%;
  max-width: 70px;
  border-radius: 50%;
}

.button-like-dislike {
  cursor: pointer;
  width: 50%;
}

@media (max-width: 1000px) {
  li {
    grid-template-columns: 1fr 4fr 0.5fr;
  }
}
