<header>
  <div id="header">
    <div>
      <img id="logo" src="../../assets/logo.png" alt="logo" />
    </div>
    <div class="menu-button">
      <input type="checkbox" id="button" />
      <label for="button">
        <span class="menu-button-linea"></span>
        <span class="menu-button-linea"></span>
        <span class="menu-button-linea"></span>
      </label>
      <nav id="navbar-collapsible" class="menu-style">
        <div>
          <strong><a href="#">Menú 1</a></strong>
          <strong><a href="#">Menú 1</a></strong>
          <strong><a href="#">Menú 1</a></strong>
        </div>
        <div>
          <a href="#">Menú 1</a>
          <a href="#">Menú 1</a>
          <a href="#">Menú 1</a>
        </div>
        <div>
          <a href="#">Menú 1</a>
          <a href="#">Menú 1</a>
          <a href="#">Menú 1</a>
        </div>
      </nav>
    </div>
    <nav id="navbar-in-line" class="menu-style">
      <a href="#">Menú 1</a>
      <a href="#">Menú 1</a>
      <a href="#">Menú 1</a>
      <a href="#">Menú 1</a>
      <a href="#">Menú 1</a>
    </nav>
  </div>
</header>
