#header {
  margin: 0 70px;
  background-color: #fff;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#logo {
  width: 70px;
  margin: 5px 0;
}

#navbar {
  a {
    text-decoration: none;
    color: #000;
    margin: 0 10px;
    font-size: 1.2em;
    font-weight: 400;
  }
}
