#content {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  background-image: url("../../assets/bg.jpg");
  background-size: cover;
}

#section-food {
  grid-area: 1 / 1 / 2 / 2;
}

#section-question-comment {
  grid-area: 1 / 2 / 2 / 3;
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#container-comment {
  position: relative;
  top: 60px;
}

#container-question-comment {
  width: 90%;
  height: 80%;
}

@media (max-width: 1000px) {
  #content {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }

  #section-food {
    grid-area: 1 / 1 / 2 / 2;
  }

  #section-question-comment {
    grid-area: 2 / 1 / 3 / 2;
    display: block;
  }

  #container-question-comment {
    margin: 0 auto;
  }
}
